<ion-app>
  <ion-content>
    <ion-grid fixed>
      <ion-row class="ion-padding-horizontal ion-align-items-center">
        <ion-col>
          <ion-text color="primary">
            <h1 class="ion-no-margin ion-margin-top">
              <b>DeTrack</b>
            </h1>
          </ion-text>
          <p class="ion-no-margin ion-margin-bottom">
            <ion-text color="medium">
              Automatically track EVM Wallets
            </ion-text>
          </p>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="manageAccounts()">
            <ion-badge color="light" class="ion-margin-end">
              <ion-text color="primary">
                {{ walletAddressList$.value.length }}
              </ion-text>
            </ion-badge>
            <ion-icon name="wallet-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="history$ | async as data">
          <ion-card class="ion-padding-horizontal">
            <app-chart [data]="data" [totalWorth]="(totalWorth$ | async) || 0 "/>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="tokens$ | async as tokens">
          <ion-card>
            <ion-grid class="ion-padding">
              <ion-row>
                <ion-col>Symbol</ion-col>
                <ion-col class="ion-text-end" size="2">24h%</ion-col>
                <ion-col class="ion-text-end" size="2">$ Worth / Unit</ion-col>
                <ion-col class="ion-text-end" size="2">Wallet %</ion-col>
              </ion-row>
            </ion-grid>
            <app-tokens-list [tokens]="tokens" [totalWalletWorth]="(totalWorth$ | async) || 0"/>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
